@import url("../../../Unnamed Site 2/styles.css") screen;
.h1{font: 1em sans-serif;}
#g , #bacground{ background-color: hsla(240,87%,26%,1.00) }
.intro{height: 100px;}
colleg{background-color: rgb(24, 19, 156);}
.card-img-top{height: 100px; border: #D9D8E8;}
.nav{margin-right: 50px;}
.nav-list-item{margin-left: 1em;}
.pict{height: 200px;}
.form{color: blue;}
.btn{background-color: #8027C4;}
.container{height: 2em;}

.h1{ animation-duration: 5s; text-align: center;}
#gg{background-color: blue;}
