.h1{}
#g{color: blue; }
.intro{height: 100px;}
colleg{background-color: rgb(24, 19, 156);}
.card-img-top{height: 100px; border: #A6A5AB;}
.nav-list-item{margin-right: 20px;}
.pict{height: 300px;}
#gg{background-color: blue;}