.h1{font: 1em sans-serif;}
#g{color: blue; }
.intro{height: 100px;}
colleg{background-color: rgb(24, 19, 156);}
.card-img-top{height: 100px; border: #A6A5AB;}
.nav-list-item{margin-right: 20px;}
#bacground{background-color: cornflowerblue; color: blue; }
.btn{color: aliceblue;}
.o{height: 10em; margin-bottom: 2em;}
.form{color: blue;}
.btn{background-color: #8027C4;}
.pict{height: 200px;}
.hh , .h1{font-size: 39px;}
