.h1{height: 30px;}
g{color: blue;}
.intro{height: 100px;}
.colleg{background-color: rgb(123, 65, 125);}
.card-img-top{height:100px;}
.nav-list-item{margin-right: 100px; width: 200px;}
#bacground{background-color: cornflowerblue; color: blue; }
.o{height: 100px; width: 150px;}
.form{color: blue;}
.btn{background-color: #8027C4;color: aliceblue;}
.pict{height: 100px;}
.oo{height: 200px;}
 
