.h1{height: 45px; padding-right: 15pc;}
.g{color: blue;}
.intro{height: 100px;}
.colleg{background-color: rgb(123, 65, 125);}
.card-img-top{height:100px;}
.nav-list-item{margin-right: 100px; width: 200px;}
#bacground{background-color: cornflowerblue; color: blue; }
.o, .o2{height: 75px;}
.form{color: blue;}
.btn{background-color: #8027C4;color: aliceblue;}
.pict{height: 100px;}
.o2{height: 75; width: 100px;}
 
#beatz{ background-color: blanchedalmond;}
nav-bar{ display:flex;  color: #3565b7;#8027C4;}
.tyo-1{ margin-left: 3rem; margin-top: 2rem;}
.tyo{margin-left: 7rem; margin-top:  2rem;}