.h1{ text-align: center;}

.colleg{color: blue;}
#gt{background-color: antiquewhite;}

.gg{color: #000; height: 300px;}
.picture{ color: #000 bisque; background-image: url(/Images/cor.jpg); height: 300px;}
#g{background-color: blue}
