.h1{ text-align: center;}
.body{ background-color: blue;}
.pic11{border-radius: 2%; height: 200px; lighting-color: aquamarine;}
.gg{ text-decoration-color: bisque; size: 12ex; background-color: blue;}