.h1{ text-align: center;}
#bacgroun{color: blue;}
.colleg{color: blue;}
#gt{background-color: antiquewhite;}
.pic{border-radius: 2%; height: 200px; lighting-color: aquamarine;}
.gg{color: #000; height: 300px;}
.picture{ color: #000 bisque; background-image: url(/Images/cor.jpg); height: 300px;}
#g{background-color: blue}
#body{background-color: blue;}